*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
	background: #f8f9fa;
	min-height: 64px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

main {
	margin-top: 64px;
}

@media only screen and (min-width: 1100px) {
	body{
		width: 1100px;
		margin: auto;
	}

	header{
		width: 1100px;
		margin: auto;
	}
}

@media only screen and (min-width: 768px) {
	header {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

@media only screen and (max-width: 767px) {
	nav ul.navbar-nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.navbar-nav .nav-link {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.button_class{			/* pre tlacidla kosika, prihlasenia */
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 991.9px){
	.button_spans{
		display: none;
	}
}

.button_class_mobil{	/* pre tlacidla kosika, prihlasenia  pre mobil*/
	display: none;
}

.ul_class{
	margin-right: 10%;
}

.nav-item{				/* li v ul */
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul.navbar-nav{
	margin-right: 5%;
	height: 100%;
}

@media (max-width: 767.9px){
	.button_class{
		display: none;
	}
	nav ul.navbar-nav li{
		height: 100%;
	}
	.button_class_mobil{
		display: block;
		margin-left: auto;
	}
	nav form.d-flex{
		display: none!important;
	}

}

@media (min-width: 768px){
	.search_div {
		display: none!important;
	}
}

@media (max-width: 768px){
	.search_button{
		display: block;
	}
}

.hidden {				/* cast navbaru, ktory sa zobrazuje na hover */
	display: none;
	width: 100%;
}

.overlay {
	position: relative;
}

.overlay .container-fluid {
	display: none;
}

.woman-section.active, .man-section.active, .kids-section.active {
	display: block;
}

.fixed {
	position: absolute;
	height: 500px;
}

.search_div {
	display: none;
	background-color: #f8f9fa;
}

nav form.d-flex.formik {
	height: 50px;
	padding: 5px;
	display: flex !important;
}

.target_women, .target_men, .target_kids{
	background-color: #f8f9fa;
}

.multi-column-dropdown {
	list-style-type: none;
}

.multi-column-dropdown li {
	text-align: center;
	margin-top : 5x;
}

.multi-column-dropdown li a{
	text-decoration: none;
	color: black;
}

.navbar-toggler {
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}

.show .search_div {
	display: block;
}

.img_box img{
	max-width: 100%;
}

.slider_container .container{
	padding: 0 15px;
	max-width: 1100px;
	margin: 0 auto;
}

.card_slider{
	padding: 50px 0;
}

