/*CSS - Landing Page*/

.slider_container{
	background-color: rgba(255,255,255,1);
	margin-top: 10%;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

:root{
	--swiper-navigation-color: rgba(255,255,255,.80);
}

.slider_container .container{
	padding: 0 15px;
	max-width: 1100px;
	margin: 0 auto;
	
}

.slider_container h2{
	color: rgba(255,255,255,.80);
	text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
	font-family: "Baskerville Old Face";
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
}

.swiper-slide {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.swiper-slide .content{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255,255,255,.80);
	text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
	font-family: "Baskerville Old Face";
	text-align: center;
	padding: 20px;

}


.swiper-slide .img_box img{
	width: 100%;
	height: 80%;
	transition: 0.5s;
    max-width: 100%;
}

@media only screen and (min-width: 576px) {
	.swiper-slide .content{
		transform: translateY(45%);
		transition: transform 0.3s ease-in-out;
	}
	.swiper-slide:hover .content{
		transform: translateY(0);
	} 
}

.card_slider{
	padding: 50px 0;
}

.row .col-4.mt-3 ul li{
	margin: 3% 0;
}

.swiper-button-next, .swiper-button-prev{
	border-radius: 20%;
	padding: 2.8%;
	background-color: rgba(0, 0, 0, 0.9);
	border-color: rgba(255,255,255,.80);
	
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,1);
	text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    border-color: rgba(255,255,255,1);
}

.bi:hover{
	color: rgba(255,255,255,1);
}



/*CSS Landing-Page End*/