/* CSS-ko pre Product_List_Page */
.main_section {
    display: flex;
    margin-top: 10%;
    width: 100%;
}

#main {
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main_container {
    padding: 0 !important;
}

.aside_div {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nadpis_row,
.filter_row {
    display: flex;
    color: rgba(255, 255, 255, .80);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    font-family: "Baskerville Old Face";
    background-color: rgba(0, 0, 0, 0.9);
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 20px;
}

.nadpis_row {
    flex-wrap: nowrap;
    justify-content: start;
}

.filter_row {
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.filter_btn {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .filter_btn {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #sticky-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(9, 1fr) !important;
    }

    .bootstrap-select>.dropdown-toggle,
    #price-dropdown {
        max-width: 150px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
    }
}

@media only screen and (max-width: 576px) {

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
    #price-dropdown,
    .dropdown-menu.show {
        width: 150px !important;
    }
}

@media only screen and (max-width: 400px) {
    .filter_row {
        padding-left: 0 !important;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
    #price-dropdown {
        max-width: 130px !important;
    }
}

.price_name {
    padding-top: 8px;
}


.bootstrap-select>.dropdown-toggle,
#price-dropdown {
    width: 100% !important;
    height: 100%;
    max-width: 180px;
}

#price-dropdown {
    margin-left: 11px;
    background: white;
    color: gray;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.dropdown_div {
    display: flex;
    align-items: center;
}

.mySwiper {
    padding-top: 10px !important;
}

.sticky-top {
    z-index: 1;
}

#sticky-sidebar {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.swiper-pagination {
    position: relative !important;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5rem 0 0 .5rem;
}

.color {
    height: 15px;
    width: 15px;
}

.mt-100 {
    margin-top: 100px
}

.unroll-container {
    background: rgba(255, 255, 255, 1);
    padding: 2%;
    overflow: hidden;
}

.unroll-header {
    padding: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, .80);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    font-family: "Baskerville Old Face";
    text-align: center;
}

.unroll-header:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.unroll-content {
    opacity: 0;
    display: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-family: "Baskerville Old Face";
}

.unroll-content h3 {
    text-align: center;
}

.unroll-content ul {
    font-size: larger;
}

.unroll-content li:hover {
    color: rgba(0, 0, 0, 1);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

.unroll-content.show {
    opacity: 1;
    display: block;
}


.unroll-content.show>* {
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto !important;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
}

.grid-item {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.grid-item .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    font-family: "Baskerville Old Face";
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.grid-item .img_box {
    position: relative;
    height: auto;
    overflow: hidden;
}

.grid-container {
    padding: 0 15px;
    max-width: 1100px;
    margin: 0 auto;
}




.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border: 1px solid rgb(0, 0, 0);
    margin-right: 5%;
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-family: "Baskerville Old Face";
}

.circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /*margin-top: 0.1em;*/
}

.circle.red {
    background-color: #ff0000;
}

.circle.green {
    background-color: #00ff00;
}

.circle.blue {
    background-color: #0000ff;
}

.circle.purple {
    background-color: blueviolet
}

.circle.brown {
    background-color: brown
}

.circle.pink {
    background-color: deeppink
}

.circle.aqua {
    background-color: aqua
}

.circle.orange {
    background-color: orange
}

.circle.black {
    background-color: #000000;
}

.circle.white {
    background-color: #ffffff;
}

.circle.other {
    border: none
}

.dropdown-menu.show {
    max-height: 200px;
    padding: 6px;
    margin-left: 11px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.filter-option-inner-inner {
    overflow-x: scroll !important;
}


.from_to_dropdown form {
    display: flex;
    justify-content: space-around;

}

.form-group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.form-group label {
    margin-top: 5px;
}

.form-group input {
    max-width: 100px;
    padding: 0;
    margin: 5px;
    border: black solid 1px;
}

.filter_dropdown {
    height: 46px;
    width: 100%;
}


.apply-button .btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.apply-button:hover .btn {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
}

.pagination > li > a,
.pagination > li > span {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 0;
    font-size: 20px;
    margin: 0 5px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    margin-right: 0;
}

.filter_button{
    width: 40%;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.filter_button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

/*Koniec CSS-ka*/
